*.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*
..gitignore.un~
*~
*/*~

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder

Temporary Items
lib/*.pye
lib/*.pyc
var/*.record
var/*.var
var/*.list
var/log/*
myActivityList.txt

dw-package.7z

lib/installer/dependency/*
lib/installer/release/*
*.msi
NDP461-KB3102436-x86-x64-AllOS-ENU.exe
UiPathStudio.exe
DTRA-Wizard-Setup*